
.new-tweet {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  
}
article {
  margin-top: 10px;
}

.fa-flag:hover {
  color:red !important;
}
.fa-retweet:hover {
  color:red !important;
}
.fa-heart:hover {
  color:red !important;
}
  
section .error-message {
  border: 2px solid red;
  color: red;
  padding: 5px;
  text-align: center;
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-and-display button {
  border: none;
  font-size: medium;
  font-family: "Bungee";
  background-color: #4056A1;
  color: #ffffff;
}

.submit-and-display {
  font-size: medium;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;

}

label {
  font-size: smaller;
}

textarea {
  outline: none;
  overflow: hidden;
  display: block;
  resize: none;
  border: none;
  border-bottom: solid;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
  height: 30px;
  width: 100%;
}
.negative-count {
  color: red;
}
@media only screen and (min-width:1024px) {
  .new-tweet {
    width: 90%;
  }
}
